*{
    padding: 0;
    margin: 0;
}
h1{
    font-size: 56px;
}
.fundo{
    background: linear-gradient(190deg,rgba(44, 44, 79, 1) 48%, rgba(35, 69, 148, 1) 93%, rgba(72, 100, 168, 1) 100%);
    height: 100vh;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.corpoCalc{
    margin-top: 2%;
    position:fixed;
    background-color: rgba(0, 0, 0, 0.8); /*a: transparência de 0 a 1*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*Ajusta a posição para que fique perfeitamente posicionada no centro da tela*/
    border-radius: 15px;
    padding: 15px;
}
.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;/*Altera o cursor (seta) para pointer (mãozinha) indicando que o elemento é clicável*/
    margin: 3px;
    background-color: rgb(14, 13, 46);
    border-color: rgb(182, 191, 214);
    color: rgb(221, 232, 255);
}
.botao:hover{
    background-color: black;
}
#resultado{
    background-color: white;
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}